*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    color:#333;
}

img{
    width:100%;
}

.zakka{
    border-bottom:solid 2px #054F52;
}

.m20{
    margin-top:20px;
}

.btn,.btn a {
    display: block;
    width:400px;
    margin:0 auto;
    height: auto;
    font-weight: 700;
    font-size:2rem;
    border:solid 1px #054F52;
    border-radius: 50px;
    color:#054F52;
    text-decoration: none;
    box-shadow: 3px 3px 0 #054F52;
    text-align: center;
    transition: all 0.3s ease;
}

.btn:hover,.btn a:hover{
    color:#FFF;
    background:#054F52;
    box-shadow: none;
}

.btn2,.btn2 a {
    display: block;
    width:400px;
    margin:0 auto;
    height: auto;
    font-weight: 700;
    font-size:2rem;
    border:solid 1px #5B8385;
    border-radius: 50px;
    color:#5B8385;
    text-decoration: none;
    box-shadow: 3px 3px 0 #5B8385;
    text-align: center;
    transition: all 0.3s ease;
}

.btn2:hover,.btn2 a:hover{
    color:#FFF;
    background:#5B8385;
    box-shadow: none;
}

.header-bk{
    position: fixed;
    margin: 0;
    padding: 0;
    width:100%;
    z-index: 2;
}

.header{
    width:100%;
    background:rgba(255,255,255,0.8);
    border-bottom:solid 4px #054F52;
    text-align:center;
}

.logo:hover{
    opacity:0.7;
}

.logo img{
    width:300px;
    height: auto;
}

.gnav {
    display: flex;
    height: 3rem;
    margin: 0 auto;
    width: 980px;
    padding: 10px 0;
}
.gnav > li {
    width: 25%;
}
/*全てのリスト・リンク共通*/
.gnav li {
    list-style: none;
    position: relative;
}

/*子階層以降共通*/
.gnav li li {
    height: 0;
    overflow: hidden;
    transition: .5s;
}

.gnav li:hover > ul > li {
    height: 3rem;
    overflow: visible;
}

.header .gnav li a{
    color:#054F52;
    font-size:2rem;
    line-height: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.header .gnav li a:hover{
    background: rgba(5, 79, 82,0.5);
}

.header .gnav li li {
    background: rgba(255, 255, 255,0.8);
    font-size:1.2rem;
}

.header .gnav > li > ul:before{/*子階層*/
    border: 5px solid transparent;
    border-top: 5px solid #054F52;
    content: "";
    right: 1rem;
    position: absolute;
    top: 1rem;
    transform: translateY(-40%);
}
.header .gnav > li {
    border-left:solid 1px #054F52;
}

.header .gnav > li:last-child{
    border-right:solid 1px #054F52;
}
#main{
    padding-top:18rem;
}

.con980{
    width:980px;
    margin:0 auto;
    padding:20px 0;
}

.con600{
    width:600px;
    margin:0 auto;
}

.bk-w{
    background:#FFF;
}

.bg-b{
    background:#D5DBEB;
}

.w50{
    width:30%;
}

#slider{
    width: 980px; 
    height: 500px; 
    overflow: hidden; 
    background: #FFF;
}

.slide-item { 
    width: 980px; 
    height: 500px; 
    float: left; 
    position: relative; 
    background: #FFF;
    color: #FFF;
    display: flex;
    align-items: center;
}

.slider-wrapper { 
    width: 300%; 
    position: relative; 
    left: 0; 
    will-change: transform; 
    animation: slider 20s infinite; 
}

@keyframes slider { 
    0% { transform: translateX(0); } 
    33% { transform: translateX(-980px); } 
    66% { transform: translateX(-1960px); } 
    100% { transform: translateX(0); } 
}

.box-warpper{
    text-align: center;
    padding-bottom:30px;
}

.box-2{
    display:inline-block;
    width:48%;
}

.box-3{
    display:inline-block;
    width:32%;
}

.box-4{
    display:inline-block;
    width:24%;
}

.box-5{
    display:inline-block;
    width: 18%;
    margin:5px;
    vertical-align: top;
}

.box-3 a:hover, .box-4 a:hover, .box-5 a:hover{
    opacity: 0.7;
}

h2 span{
    font-size:1.5rem;
    margin-left:10px;
    font-weight: 500;
}
.news .bg-g {
    width:100%;
    background:#ededed;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom:10px;
}

.news h2,#ranking h2,#new h2,#service h2{
    font-size:2.2rem;
    margin:5px;
    border-bottom: solid 3px #00B89F;
    position: relative;
}

.news h2::after, #ranking h2::after,#new h2::after,#service h2::after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #006658;
    bottom: -3px;
    width: 20%;
}

.news p{
    font-size:1.5rem;
    padding:5px 10px;
}

.news a{
    color:#333;
    text-decoration: none;
}

.news a:hover{
    text-decoration: underline;
}

#banner {
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
}

#banner img {
    width:80%;
    margin:5px;
}

#banner a:hover{
    opacity: 0.7;
}

.item{
    font-size: 1.5rem;
    text-align: left;
}

.small{
    font-size:1.2rem;
    text-align: left;
    color:#555;
}

.position {/*親div*/
    position: relative;/*相対配置*/
}
  
.position p {
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    background-color: #ededed;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 1;
}
  
.position img {
    width: 100%;
    padding:10px;
}

.service{
    border:solid 3px #5B8385;
    border-radius: 15px;
    text-align: center;
    padding:10px;
}

.service p {
    font-size:1.5rem;
    font-weight: 600;
}

.service i{
    color:#5B8385;
}

#other h2 {
    font-size:2.2rem;
    border-bottom:solid 2px #FFF;
    margin:15px;
    padding-top:10px;
}

.circle{
    display: inline-block;
    text-decoration: none;
    background: #FFF;
    color: #045F52;
    font-size: 2rem;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px #FFF;
    border: dashed 1px #045F52;
    transition: .4s;
}

.circle:hover{
    background: #668ad8;
    box-shadow: 0px 0px 0px 5px #668ad8;
}

footer img{
    width:50%;
}

.icon{
    display:block;
    width:20%;
    margin:0 auto;
    list-style: none;
}

.icon li{
    display:inline-block;
    width:32%;
}

.icon a:hover{
    opacity: 0.7;
}

footer .box-3{
    height: 150px;
    vertical-align: top;
    margin-top:20px;
}

footer .box-3 ul{
    list-style: none;
    text-align: left;
}

.center{
    text-align: center;
    width: 100%;
}

.center ul{
    list-style: none;
    font-size: 1.3rem;
}

#footer .center a:hover,#xmas-f .center a:hover{
    text-decoration: underline;
}

#footer .icon li a{
    color:#054F52;
}

#footer .box-3 h3{
    font-size:1.5rem;
    font-weight: 700;
    background:#054F52;
    text-align: left;
    color:#FFF;
}

#footer .box-3 li a{
    font-size: 1.3rem;
    color:#054F52;
    text-decoration: none;
}

#footer .center li{
    display: inline;
    width:auto;
    border-left:solid 1px #054F52;
    padding:0 5px;
}

#footer .center li:last-child{
    border-right: solid 1px #054F52;
    padding: 0 5px;
}

#footer .center a{
    color:#054F52;
    text-decoration: none;
}

#footer p{
    padding-top:10px;
    text-align: center;
    color:#054F52;
}

/*xmas2020*/
.bk-g{
    background:#33cc66;
}

.xmas-h{
    width:100%;
    background:rgba(255,89,89,0.7);
    border-bottom:solid 4px #FFF;
    text-align:center;
}

.xmas-h .gnav li a{
    color:#FFF;
    font-size:2rem;
    line-height: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.xmas-h .gnav li a:hover{
    background: rgba(255,255,255,0.5);
}

.xmas-h .gnav li li {
    background: rgba(255,89,89,0.7);
    font-size:1.5rem;
}

.xmas-h .gnav > li > ul:before{/*子階層*/
    border: 5px solid transparent;
    border-top: 5px solid #fff;
    content: "";
    right: 1rem;
    position: absolute;
    top: 1rem;
    transform: translateY(-40%);
}

.xmas-h .gnav > li {
    border-left:solid 1px #FFF;
}

.xmas-h .gnav > li:last-child{
    border-right:solid 1px #FFF;
}

#item, #price, #rank{
    text-align: center;
}

#about p{
    text-align: center;
    font-size:1.8rem;
}

#item p,#price p,#rank p{
    font-size:1.5rem;
    line-height: 2.2rem;
}

#item h2,#price h2,#rank h2{
    font-size:2.2rem;
}

#item h3{
    background:#33cc66;
    color:#FFF;
    font-size:2rem;
    width:40%;
    margin:10px auto;
    border-radius: 10px;
    font-weight: bold;
}

#item h3 a{
    color:#FFF;
    text-decoration: none;
}

#item h3 a:hover{
    text-decoration: underline;
}

#xmas-f{
    background:#FF5757;

}

#xmas-f .icon li a{
    color:#FFF;
}

#xmas-f .box-3 h3{
    font-size:1.5rem;
    font-weight: 700;
    background:#FFF;
    text-align: left;
}

#xmas-f .box-3 li a{
    font-size: 1.3rem;
    color:#FFF;
    text-decoration: none;
}

#xmas-f .center li{
    display: inline;
    width:auto;
    border-left:solid 1px #FFF;
    padding:0 5px;
}

#xmas-f .center li:last-child{
    border-right: solid 1px #FFF;
    padding: 0 5px;
}

#xmas-f .center a{
    color:#FFF;
    text-decoration: none;
}

#xmas-f p{
    padding-top:10px;
    text-align: center;
    color:#FFF;
}
